{% extends 'aplicacion/base.html' %}
{% load  %}


{% block titulo %}

Sitio de Plantas

{% endblock titulo %}
    

{% block contenido %}
    
<h1>Plantas</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Especie</th>
            <th>Genero</th>
            <th>Precio</th>
        </tr>
    </thead>

    <body>

        <h1>{{Titel|capfirst}} - {% now 'd / m / y' %}</h1>
        <h4>Cantidad de plantas:{{plants|length}}</h4>     

    {% for p in plants  %}   
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.especie}}</td>
            <td>{{p.genero}}</td>
            <td>{{p.precio}}</td>
        </tr>
    
    {% endfor %}
        </body>
        </table>

        <h4>Descuentos: {{descuento.0}}, {{descuento.1}} </h4>



{% comment %}
    Prueba de comment (comentario como #)
{% endcomment %}
    

{% endblock contenido %}